<div class="card">
    <p class="appNameStyle">ForceUP</p>
<div class="cusContainer">
  
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group has-feedback">
      <!-- <label class="control-label" for="uName"></label> -->
      <input type="text" required class="form-control cusWdth" id="uName" [(ngModel)]="uName" 
      name="userName"  #userName="ngModel"  placeholder="Username"required>
      <i class="form-control-feedback glyphicon glyphicon-user" style="top: 1.5px;
      right: 170px;"></i>
    </div>

    <div class="form-group  has-feedback">
      <!-- <label for="pswd">Password</label> -->
      <input type="password" required class="form-control cusWdth" id="uPswd" [(ngModel)]="uPswd" 
      name="scrtWrd"  #scrtWrd="ngModel" placeholder="Password">
      <i class="form-control-feedback glyphicon glyphicon-log-in" style="top: 1.5px;
      right: 170px;"></i>
    </div>

    <a href="" style="font-style: oblique;color: blue;">Forgot Password?</a>
    <button type="submit" class="btn btn-success" (click)="navigateToNext()">LOGIN</button>

  </form>
</div>
</div>


<!-- validations User Details -->
<div [hidden]="userName.valid || userName.pristine" class="alert alert-danger">
  Please enter username.
</div>

<div [hidden]="scrtWrd.valid || scrtWrd.pristine" class="alert alert-danger">
  Please enter password.
</div>

